* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 18px;
}

body.scroll {
  overflow: hidden;
  height: 100vh;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

:root {
  --main-color: #2565C0;
  --black-color:#000000;
  --white-color: #ffffff;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  padding: 25px 0 34px;
  background-color: var(--white-color);
  border-bottom: 1px solid #EFEFEF;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-size: 29px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--main-color);
}

.header__logo span {
  color: var(--black-color);
}

.header-nav {
  margin-left: 35px;
  margin-right: auto;
  width: 100%;
}

.header-nav-list {
  padding-left: 0;
  list-style: none;
  max-width: 626px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__item {
  margin-right: 12px;
}

.header-nav__item:last-of-type {
  margin-right: 0;
}

.header-nav__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black-color);
}

.header-nav__link:hover {
  color: var(--main-color);
}

@media (max-width: 991px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    background-color: #fff;
    z-index: 10;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header-nav-list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  .header-nav__item {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .header-nav__link {
    font-size: 15px;
    line-height: 19px;
  }
  .header-nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.header__btn {
  padding: 10px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 5px;
  margin-left: auto;
  margin-right: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__btn svg {
  margin-right: 10px;
}

.header__btn:hover {
  border: 1px solid #2565C0;
  background-color: #fff;
  color: #2565C0;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__btn:hover svg path {
  fill: #2565C0;
}

.header__burger {
  width: 24px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 16px;
  display: none;
}

.header__burger span {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  display: block;
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .header__burger.active {
    z-index: 11;
  }
  .header__burger.active span {
    -webkit-transition: .2s;
    transition: .2s;
  }
  .header__burger.active span:nth-of-type(1) {
    display: none;
  }
  .header__burger.active span:nth-of-type(2) {
    position: absolute;
    top: 7px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header__burger.active span:nth-of-type(3) {
    position: absolute;
    top: 7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.breadcrumbs {
  margin-bottom: 6px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  color: var(--black-color);
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}

.breadcrumbs__item:not(:first-of-type)::before {
  display: block;
  content: '';
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.breadcrumbs__link {
  color: var(--main-color);
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.event {
  padding-top: 31px;
}

.event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px;
}

@media (max-width: 767px) {
  .event-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.event__img {
  width: 100%;
  display: block;
  max-width: 408px;
  margin: 0 auto 24px;
}

.event__img img {
  width: 100%;
}

@media (max-width: 767px) {
  .event__img {
    max-width: 300px;
  }
}

.event-steps {
  margin-right: 24px;
}

.event__title {
  margin: 16px 0 31px;
  font-size: 35px;
  line-height: 42px;
}

@media (max-width: 767px) {
  .event__title {
    font-size: 28px;
    line-height: 32px;
  }
}

.event__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.event__step:last-of-type {
  margin-bottom: 0;
}

.event__step a {
  color: var(--main-color);
  text-decoration: underline;
}

.event__step-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--black-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.event__step-img img {
  display: block;
  width: 44px;
}

@media (max-width: 767px) {
  .event__step-img {
    width: 50px;
    height: 50px;
  }
  .event__step-img img {
    width: 28px;
  }
  .event__step-img::before {
    width: 16px;
    height: 16px;
    top: -2px;
    left: -2px;
  }
}

.event__step-count {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  top: -5px;
  left: -5px;
}

@media (max-width: 767px) {
  .event__step-count {
    width: 24px;
    height: 24px;
    top: -5px;
    left: -5px;
    font-size: 15px;
    line-height: 19px;
  }
}

.event__step-title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 4px;
  font-weight: 700;
}

.event__info {
  padding: 20px 30px;
  margin-top: 56px;
  background: rgba(255, 236, 159, 0.32);
  border: 1px solid #FCEC9F;
  border-radius: 6px;
}

.event__info a {
  color: var(--main-color);
  text-decoration: underline;
}

.event-lucky {
  padding: 50px 0 80px;
}

.event-lucky__title {
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--main-color);
}

.event-lucky__desc {
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .event-lucky {
    padding: 30px 0 40px;
  }
  .event-lucky__title {
    font-size: 28px;
    line-height: 32px;
  }
}

.event__btn {
  background-color: #2565C0;
  color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 566px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  line-height: 37px;
  padding: 24px;
  width: auto;
  font-weight: 400;
}

.event__btn svg {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */